.nodeAccent {
    color:green;
}

/* unvisited link */
a:link {
    color: var(--link);
}

/* visited link */
a:visited {
    color: var(--link);
}

/* mouse over link */
a:hover {
    color: var(--link);
}

/* selected link */
a:active {
    color: var(--link);
}